**/config.php

.git
**/composer.phar
**/vendor/
**/pom.xml.original

**/target/
**/rpmbuild-root/
**/bin/
**/out/
**/build/
**/.project
**/.classpath
**/.settings/

*.swp
.*.swp
*.out
~

*.log
*.zip
*.tar.gz
*.tgz
*.exe
*.rpm
*.deb
*.jar
*.war
*.ear
*.class
*.idea
