.git/

pxnloader.php
debug
DEBUG
.debug
.htdb*
**/config.php
**/auth.json
**/.cache/
**/.*_cache/
**/.backups/
public/static/bootstrap
public/static/jquery
**/error_log

**/vendor/
**/composer.phar
**/coverage/
**/.gradle/
# resources/
**/bin/
**/target/
**/rpmbuild-root/
**/out/
**/build/

.classpath
.project
.buildpath
**/.settings/

*.class
*.iml
*.idea
*.jar
*.rpm
*.war
*.ear
*.zip
*.exe
*.out
*.swp
.*.swp
*~
