pxnloader.php
**/config.php
**/auth.json
.cache/
.twig_cache/
public/static/bootstrap
public/static/jquery
error_log
**/error_log

**/vendor/
**/composer.phar
**/coverage/
**/.gradle/
# resources/
bin/
target/
rpmbuild-root/
out/
build/

.classpath
.project
.buildpath
.git/
.settings/
/plugins

*.class
*.iml
*.idea
*.jar
*.rpm
*.war
*.ear
*.zip
*.exe
*.out
*.swp
.*.swp
*~
